src/main/mule/crudOperationFolders/delete-notes-using-uriParams.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="delete:\notes\(id):note_api-config">
		<db:delete doc:name="Delete" doc:id="46fb6c9e-8546-471c-b366-39717c0df366" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from b37_last_assignment where id=:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:attributes.uriParams.id
	
	}]]]></db:input-parameters>
		
</db:delete>
		<ee:transform doc:name="Transform Message">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"message":"sucessfully deleted"
	
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables>
            </ee:variables>
        </ee:transform>
    </flow>
	</mule>
