src/main/mule/crudOperationFolders/get-note-using-uri-params.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="get:\notes\(id):note_api-config">
        <db:select doc:name="Select" doc:id="1f845257-7601-4a80-9728-5c8edb69251d" config-ref="Database_Config">
            <db:sql><![CDATA[select id, title, content, updatedAt, createdAt from b37_last_assignment where id =:id]]></db:sql>
            <db:input-parameters><![CDATA[#[{
 id: attributes.uriParams.id
	
}]]]></db:input-parameters>
        </db:select>
        <ee:transform doc:name="Transform Message" doc:id="f92a0852-245c-4b89-bb65-da9e61b55fd0">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map{
	id:$.id,
	title:$.title,
	content:$.content,
	updatedAr:$.updatedAt,
	createdAt:$.createdAt
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	</mule>
